
<div class="container min-page-height">
    <div class="row">
        <div class="visible-xs-block"><br></div>
    	<h2>
    		Categorías De Actividad (Rubro)
            <img src="assets/img/loading_16.gif" *ngIf="busy"/>
        </h2>
        <div class="visible-xs-inline pull-right">
            <button type="button" class="btn btn-success btn-add pull-right"
                title="Nueva" 
                routerLink="/admin/catalogos/categorias-de-actividad/agregar" >
                <span class="glyphicon-plus"></span>
            </button>
        </div>
        <div class="visible-xs-block"><br></div>
    </div>
    <div class="row">
        <div class="col-sm-6 hidden-xs">
            <div class="row">
                <button type="button" class="btn btn-success btn-add" 
                    title="Nuevo"
                    routerLink="/admin/catalogos/categorias-de-actividad/agregar" >
                    <span class="glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="row">
                <form class="form-horizontal">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchTerm" placeholder="Buscar..." [(ngModel)]="searchDto.searchTerm">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" (click)="search(curPage)" title="Buscar"
                                [disabled]="searchDto.searchTerm && searchDto.searchTerm.length < 3">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
    	<table id="tiposProyecto" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th width="40%">Descripción</th>
                    <th>Unidad de Medida</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entity of entityList">
                    <td>{{entity?.id}}</td>
                    <td>{{entity?.nombre}}</td>
                    <td>{{entity?.descripcion}}</td>
                    <td>{{entity?.unidad.descripcion}} ({{entity?.unidad.simbolo}})</td>
                    <td>
                        <a class="action-link" routerLink="/admin/catalogos/categorias-de-actividad/{{entity.id}}" title="Ver">
                            <span class="glyphicon glyphicon-zoom-in"></span> &nbsp;&nbsp;
                        </a>
                        <a class="action-link" routerLink="/admin/catalogos/categorias-de-actividad/edit/{{entity.id}}" title="Editar">
                            <span class="glyphicon glyphicon-edit"></span> &nbsp;&nbsp;
                        </a>
                        <a class="action-link" (click)="eliminar(entity)" title="Eliminar">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="busy">
                    <td colspan="4" class="text-center">
                        <img src="assets/img/loading_16.gif" *ngIf="busy"/>
                    </td>
                </tr>
                <tr *ngIf="!busy && entityList.length <= 0">
                    <td colspan="4" class="text-center">No hay más información</td>
                </tr>
            </tbody>
    	</table>
        <div class="pagination">
            <a class="action-link" 
                (click)="fetchPage(1)">&laquo;</a>
            <a *ngFor="let page of pages" 
                class="action-link" 
                [ngClass]="{'active': curPage == page}"
                (click)="fetchPage(page)">
                {{page}}
            </a>
            <a class="action-link"
                (click)="fetchPage(pages.length)">&raquo;</a>
        </div>
    </div>
</div>